    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="HulajDusza serwis hulajnóg elektrycznych - najlepszy serwis w Polsce">
    <meta name="keywords" content="hulajnoga, serwis, elektryczne, naprawa, Katowice">
    <meta name="author" content="Katarzyna">

    <!-- Preconnect to external resources -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!-- Open Graph meta tags (social sharing) -->
    <meta property="og:title" content="HulajDusza - Strona główna">
    <meta property="og:description" content="Witamy na stronie głównej HulajDusza, najlepszego serwisu hulajnóg elektrycznych w Katowicach.">
    <meta property="og:image" content="https://example.com/img/logo/HulajDusza_logo.png">
    <meta property="og:url" content="https://example.com">
    <meta property="og:type" content="website">

    <!-- Icons for various devices and platforms -->
    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ac2a21">
    <meta name="msapplication-config" content="/browserconfig.xml">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:wght@400&display=swap" rel="stylesheet">

    <!-- External Stylesheets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

    <!-- Custom Stylesheets -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/services.css" rel="stylesheet">
    <link href="/css/about.css" rel="stylesheet">
    <link href="/css/contact.css" rel="stylesheet">

    <!-- HoneyBadger -->
    <script src="//js.honeybadger.io/v6.10/honeybadger.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        Honeybadger.configure({
            apiKey: "hbp_fO2KB3cXeEz5AWnmKzXohxcBhevTxq0O8n0K",
            environment: "production",
            reportData: true
        });
        Honeybadger.notify("Testing Honeybadger!");
    </script>

    <!-- Sentry -->
    <script
        src="https://js-de.sentry-cdn.com/1eb1a271b9a426a0673669241d92edff.min.js"
        crossorigin="anonymous">
    </script>
    <script>
        Sentry.onLoad(function() {
          Sentry.init({
              // Tracing
              tracesSampleRate: 1.0, // Capture 100% of the transactions
              // Session Replay
              replaysSessionSampleRate: 0.1, // This sets the sample rate at 10%. You may want to change it to 100% while in development and then sample at a lower rate in production.
              replaysOnErrorSampleRate: 1.0, // If you're not already sampling the entire session, change the sample rate to 100% when sampling sessions where errors occur.
            });
        });
    </script>
    

    <!-- jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>

    <!-- AOS JS for animations -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js" defer></script>

    <!-- CounterUp Plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.js" integrity="sha512-+/4Q+xH9jXbMNJzNt2eMrYv/Zs2rzr4Bu2thfvzlshZBvH1g+VGP55W8b6xfku0c0KknE7qlbBPhDPrHFbgK4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- FontAwesome for icons -->
    <script src="https://kit.fontawesome.com/ea918e4af6.js" crossorigin="anonymous"></script>
    
    <!-- IonIcons -->
    <script type="module" src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://cdn.jsdelivr.net/npm/ionicons/dist/ionicons/ionicons.js"></script>

    <!-- Google reCAPTCHA -->
    <script src="https://www.google.com/recaptcha/api.js?render=6LeTFCAqAAAAAKlvDJZjZnVCdtD76hc3YZiIUs_Q"></script>

    <!-- Custom JavaScript files -->
    <script type="module" src="/js/script.js"></script>
    <script src="/js/sharing-buttons.js"></script>

    <!-- Google Tag Manager -->
    <script>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WZLT4R8J');
    </script>

    <!-- Cookiebot -->
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="45bc11c2-19a5-410e-b81d-c9c529347be2" data-blockingmode="auto" type="text/javascript"></script>
    
    <!-- AddToAny -->
    <script async src="https://static.addtoany.com/menu/page.js"></script>

    <!-- Structured Data for SEO -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "HulajDusza",
            "image": "https://example.com/img/logo/HulajDusza_logo.png",
            "@id": "https://example.com",
            "url": "https://example.com",
            "telephone": "+48539498832",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "Wincentego Pola 20/1",
                "addressLocality": "Katowice",
                "postalCode": "40-596",
                "addressCountry": "PL"
            },
            "geo": {
                "@type": "GeoCoordinates",
                "latitude": 50.2649,
                "longitude": 19.0238
            },
            "openingHoursSpecification": [
                {
                    "@type": "OpeningHoursSpecification",
                    "dayOfWeek": "Monday",
                    "opens": "08:00",
                    "closes": "18:00"
                },
                {
                    "@type": "OpeningHoursSpecification",
                    "dayOfWeek": "Tuesday",
                    "opens": "08:00",
                    "closes": "18:00"
                },
                {
                    "@type": "OpeningHoursSpecification",
                    "dayOfWeek": "Wednesday",
                    "opens": "08:00",
                    "closes": "18:00"
                },
                {
                    "@type": "OpeningHoursSpecification",
                    "dayOfWeek": "Thursday",
                    "opens": "08:00",
                    "closes": "18:00"
                },
                {
                    "@type": "OpeningHoursSpecification",
                    "dayOfWeek": "Friday",
                    "opens": "08:00",
                    "closes": "18:00"
                },
                {
                    "@type": "OpeningHoursSpecification",
                    "dayOfWeek": "Saturday",
                    "opens": "09:00",
                    "closes": "14:00"
                }
            ],
            "sameAs": [
                "https://www.facebook.com/hulajdusza",
                "https://www.instagram.com/hulajdusza"
            ]
        }
    </script>


