<div class="header-left">
    <img src="/img/Logo/HulajDusza_logo.png" alt="HulajDusza Logo" class="logo">
    <h1 class="raleway-header">HulajDusza</h1>
</div>
<nav class="menu">
    <ul>
        <li><a href="/index.html"><ion-icon name="home"></ion-icon><span>Strona Główna</span></a></li>
        <li><a href="/services.html"><ion-icon name="construct"></ion-icon><span>Usługi</span></a></li>
        <li><a href="/about.html"><ion-icon name="information-circle"></ion-icon><span>O nas</span></a></li>
        <li><a href="/contact.html"><ion-icon name="mail"></ion-icon><span>Kontakt</span></a></li>
        <li><a href="/blog.html"><ion-icon name="book"></ion-icon><span>Blog</span></a></li>
    </ul>
    <button class="menu-toggle">
        <i class="bi bi-list menu-icon"></i> <!-- Ikona menu (hamburger) -->
        <i class="bi bi-x close-icon" style="display: none;"></i> <!-- Ikona zamknięcia -->
    </button>
</nav>